/* PAGE LAYOUT
------------------------header-------------------------
-------------------------nav---------------------------
----------------------banner ad-------------------------
-----secondary ads-----article------latest news-------
------------------------footer------------------------
*/
body {
  background-color: #d4c9b5; }

.container-bleed {
  margin-left: -15px;
  margin-right: -15px; }

.bg-white {
  background-color: #fff; }

.bg-gray {
  background-color: #ededed; }

#primary-navigation {
  margin-bottom: 0; }

#secondary-ads article {
  margin-top: 15px; }

#latest-news section {
  border: 1px solid #ccc; }

#latest-news article {
  /*margin-left: -($container-padding);
    margin-right: -($container-padding);*/
  border: 1px solid #ccc;
  border-bottom: 0;
  padding: 15px;
  background-color: #fff; }

#latest-news article:last-of-type {
  border-bottom: 1px solid #ccc; }
