//----------------------------------------------------------------------------
//  Anchor
//----------------------------------------------------------------------------
a {
  color: #0466b6;
  li & {
    display: block;
  }
  .modifyc1 & {
    color: inherit;
  }
  .modifyc2 & {
    color: #302a2d;
  }
}


//----------------------------------------------------------------------------
//  Body
//----------------------------------------------------------------------------
body {
  background: $brown50;
  font-family: $font1;
}


//----------------------------------------------------------------------------
//  Headings
//----------------------------------------------------------------------------
h1 {
  font-size: $biggest;
  margin-bottom: 12px;
}

h2 {
  font-size: $bigger;
  margin-bottom: 10px;
  text-transform: uppercase;
}

h3 {
  background: #0466b6;
  color: white;
  display: inline-block;
  font-size: $bigger;
  margin-bottom: 0;
  padding: 8px 12px;
  text-align: center;
  text-transform: uppercase;
}

h6 {
  background: #376a46;
  color: white;
  padding: 8px 6px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}


//----------------------------------------------------------------------------
//  HTML
//----------------------------------------------------------------------------
html {
  color: $black80;
  font-size: 14px;  //c017
}


//----------------------------------------------------------------------------
//  Images
//----------------------------------------------------------------------------
img {
  height: auto;
  width: 100%;
}


//----------------------------------------------------------------------------
//  Paragraph
//----------------------------------------------------------------------------
p {
  line-height: 1.4rem;
}

p + p {
  margin-top: 12px;
}


//----------------------------------------------------------------------------
//  Section Elements
//----------------------------------------------------------------------------
aside {
  padding: 20px 0 30px;
}

footer {
  background: white;
  border-top: 1px solid $gray50;
}

header {
  background: white;
  padding-top: 12px;
}

main {
  border-top: 1px solid $gray50;
  padding-top: 30px;
}


//----------------------------------------------------------------------------
//  Span
//----------------------------------------------------------------------------
span {
  h2 & {
    font-weight: 400;
  }
}
