//----------------------------------------------------------------------------
//  Body
//----------------------------------------------------------------------------
body {
  font-family: $font1;
}


//----------------------------------------------------------------------------
//  Headings
//----------------------------------------------------------------------------
h1 {
  font-size: $biggest;
}


//----------------------------------------------------------------------------
//  HTML
//----------------------------------------------------------------------------
html {
  color: $black80;
  font-size: 14px;
}
