//----------------------------------------------------------------------------
//  Body
//----------------------------------------------------------------------------
body {
  background: $brown50;
  font-family: $font1;
  overflow: hidden;
}


//----------------------------------------------------------------------------
//  Headings
//----------------------------------------------------------------------------
h1 {
  font-size: $biggest;
}

h2 {
  font-size: $bigger;
}

h3 {
  background: #0466b6;
  color: white;
  font-size: $big;
  padding: 8px 12px;
  text-align: center;
  text-transform: uppercase;
}

h6 {
  background: #376a46;
  color: white;
  padding: 8px 6px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}


//----------------------------------------------------------------------------
//  HTML
//----------------------------------------------------------------------------
html {
  color: $black80;
  font-size: 14px;  //c017
}


//----------------------------------------------------------------------------
//  Section Elements
//----------------------------------------------------------------------------
aside {
  background: cornsilk;
}

footer {
  background: lavender;
}

header {
  background: white;
  padding-top: 12px;
}

main {
  background: aliceblue;
}


//----------------------------------------------------------------------------
//  Span
//----------------------------------------------------------------------------
span {
  h2 & {
    font-weight: 400;
  }
}
