//----------------------------------------------------------------------------
//  BANNER ADVERTISEMENTS
//----------------------------------------------------------------------------
.advert {
  background: lavender;
  padding: 36px;
  position: relative;
  text-align: center;
  &:before {
    color: #777;
    content: 'Wide Banner Ad';
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &.narrow {
    background: cornsilk;
    display: none;
    @include responsive(truman) {
      display: block;
    }
    &:before {
      content: 'Narrow Banner Ad';
    }
  }
  &.square {
    display: none;
    height: 210px;
    @include responsive(truman) {
      display: block;
    }
    @include responsive(nixon) {
      // width: 210px;
    }
    &:before {
      content: 'Square Banner Ad';
    }
  }
}


//----------------------------------------------------------------------------
//  COMMON COMPONENTS
//----------------------------------------------------------------------------
.seemore {  //c024
  cursor: pointer;
  position: relative;
  &:after {
    background: #0765ba;
    bottom: 16px;
    color: white;
    content: 'See More';
    padding: 5px 22px 5px 8px;
    position: absolute;
    right: -6px;
    text-transform: uppercase;
  }
  &:before {
    bottom: 22px;
    color: white;
    content: '\f061';
    font-family: FontAwesome;
    position: absolute;
    right: 0;
    z-index: 10;
    @include transition($animate * 2);
  }
  &:hover:before {
    right: -2px;
  }
}



//----------------------------------------------------------------------------
//  FOOTER
//----------------------------------------------------------------------------
li {
  .afooters & {
    color: #302a2d;
    font-size: $big;
  }
}

li {
  .bfooternavs & {
    font-size: $small;
    font-weight: 700;
    margin: 8px 0;
    position: relative;
    text-transform: uppercase;
    @include responsive(truman) {
      display: inline-block;
      margin: 4px 8px;
      &:after {
        content: '|';
        position: absolute;
        right: -12px;
        top: 0;
      }
      &:last-of-type:after {
        content: '';
      }
    }
  }
}

li {
  .bfootersocials & {
    display: inline-block;
    margin-right: 14px;
    vertical-align: middle;
    &:nth-of-type(2),
    &:nth-of-type(3) {
      font-size: 1.6rem;
    }
  }
}

.afooters {
  padding: 12px 0 24px;
}

.bfooternavs {
  margin-bottom: 24px;
}

.bfootersocials {
  margin-bottom: 20px;
}

.scrolltop {
  display: inline-block;
  margin-left: 14px;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
  &:before {
    border: 2px solid black;
    border-radius: 10px;
    content: '\f077';
    font-family: FontAwesome;
    font-size: $smaller;
    left: -22px;
    padding: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-45%);
  }
}


//----------------------------------------------------------------------------
//  HEADER : NAVIGATION
//----------------------------------------------------------------------------
a {
  &.modifyp2 {
    padding: 2px 8px;
  }
  .navs & {
    color: inherit;
  }
}

a {
  li & {
    .navs & {
      &.mobilebg {  //c023
        background: #ea2f27;
        color: white;
        margin-left: -9px;
      }
    }
  }
}

li {
  .navs & {
    display: inline-block;
    margin: 6px 10px;
    position: relative;
    text-transform: uppercase;
    &:before {
      border: 1px solid transparent;
      border-radius: 4px;
      content: '';
      height: 4px;
      left: -8px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
    }
    @include responsive(truman) {
      font-size: $big;
      margin: 8px 16px;
    }
    &:nth-of-type(1):before {
      background: #002771;
    }
    &:nth-of-type(2):before {
      background: #ff6a35;
    }
    &:nth-of-type(3):before {
      background: #ea2f27;
    }
    &:nth-of-type(4):before {
      background: #5fba37;
    }
    &:nth-of-type(5):before {
      background: #b71ab0;
    }
    &:nth-of-type(6):before {
      background: #9e1d37;
    }
    &:nth-of-type(7):before {
      background: #1c70d0;
    }
    &.totalhack {  //c023
      display: block;
      margin-right: 1000px;
      @include responsive(coolidge) {
        display: none;
        margin: 0;
      }
    }
  }
}

.navs {
  float: none;  //c020
  margin-top: 12px;
  padding-bottom: 20px;
  padding-top: 6px;
  position: relative;
  // @include responsive(truman) {
    text-align: center;
  // }
  &:after,
  &:before {
    border: 1px solid $gray40;
    content: '';
    left: -50%;
    position: absolute;
    width: 200%;
  }
  &:after {
    bottom: 0;
  }
  &:before {
    top: 0;
  }
}


//----------------------------------------------------------------------------
//  HEADER : QUICK LINKS
//----------------------------------------------------------------------------
.handy {
  display: inline-block;
  font-size: $big;
  margin: 0 18px;
}

.traffic {
  position: relative;
  &:after {
    background: #f60700;
    border: 1px solid transparent;
    border-radius: 16px;
    bottom: 10px;
    color: white;
    content: '';
    height: 16px;
    position: absolute;
    right: -10px;
    width: 16px;
  }
  &:before {
    bottom: 12px;
    color: white;
    content: '20';
    font-size: $small;
    font-weight: 700;
    position: absolute;
    right: -8px;
    z-index: 10;
  }
}

.weather {
  position: relative;
  &:after {
    color: $gray60;
    content: '\f0e7';
    font-family: FontAwesome;
    position: absolute;
    right: -10px;
    top: -8px;
  }
}


//----------------------------------------------------------------------------
//  MAIN
//----------------------------------------------------------------------------
li {
  .bsocials & {
    display: inline-block;
    font-size: $bigger;
    margin: 6px 0 0 6px;
    position: relative;
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type:after {
      color: white;
      content: '3';
      font-size: $smaller;
      font-weight: 700;
      left: 50%;
      position: absolute;
      top: 48%;
      transform: translate(-50%, -50%);
    }
  }
}

p {
  .bauthors & {
    line-height: 0.6rem;
  }
}

.nimg {
  margin: 20px 0;
  padding: 0 15px;
}


//----------------------------------------------------------------------------
//  MODIFICATIONS  //c025
//----------------------------------------------------------------------------
div {
  .modifym & {
    margin-top: 6px;
  }
}

.modifya1 {  //c020
  text-align: center;
}

.modifya2 {  //c020
  text-align: right;
}

.modifyb {
  background: $gray30;
  padding-top: 12px;
}

.modifym2 {  //c020
  margin-left: -30px;
  margin-right: -30px;
}

.modifyp1 {  //c020
  padding: 0 15px;
}

.modifyp3 {  //c020
  padding-left: 0;
  padding-right: 0;
}

.modifyp4 {  //c020
  padding-right: 0;
}

.modifyc3 {
  @include responsive(nixon) {
    width: 30.5%;
  }
}

.modifyc9 {
  @include responsive(nixon) {
    width: 69.5%;
  }
}


//----------------------------------------------------------------------------
//  SIDEBAR : LEFT "Take A Break"
//----------------------------------------------------------------------------
a {
  .breaks & {
    color: inherit;
  }
}
li {
  .breaks & {
    border-bottom: 2px solid #1c1a1c;
    font-size: $big;
    margin: 0px 0;
    padding: 20px 0 16px 46px;
    position: relative;
    @include transition($animate * 2);
    &:hover {
      margin-left: 2px;
    }
    &:nth-of-type(1) {
      margin-top: 0;
    }
    &:nth-of-type(3) {
      border-bottom: none;
      bottom-top: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    &:nth-of-type(1):before,
    &:nth-of-type(2):before,
    &:nth-of-type(3):before {
      font-family: FontAwesome;
      font-size: $bigger;
      left: 10px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    &:nth-of-type(1):before {
      content: '\f02d';
    }
    &:nth-of-type(2):before {
      content: '\f250';
    }
    &:nth-of-type(3):before {
      content: '\f1b1';
      font-size: 2.0rem;
      left: 13px;
      transform: translateY(-30%);
    }
    @include responsive(nixon) {

    }
  }
}

.breaks {
  background: #312f31;
  color: white;
  font-size: $small;
  font-weight: 700;
  padding: 0px 20px 16px;
  text-transform: uppercase;
}


//----------------------------------------------------------------------------
//  SIDEBAR : LEFT "Vote Tracker"
//----------------------------------------------------------------------------
p {
  .votes & {
    display: inline-block;
    font-size: $bigger;
    font-weight: 700;
    padding: 8px 0;
    position: relative;
    &:last-of-type:after {
      bottom: -8px;
      content: 'Austin American-Statesman';
      font-size: $smallest;
      letter-spacing: -1px;
      position: absolute;
      right: 0;
    }
  }
}

.fa-check {  //c020
  p & {
    background: #376a46;
    border: 1px solid transparent;
    border-radius: 20px;
    color: white;
    padding: 6px;
  }
}

.votes {
  border: 1px solid black;
  display: inline-block;
  margin-top: 26px;
}

//----------------------------------------------------------------------------
//  SIDEBAR : RIGHT "New Right Now"
//----------------------------------------------------------------------------
a {
  li & {
    .blatest & {
      padding: 16px;
    }
  }
}

li {
  .blatest & {
    background: white;
    border-bottom: 1px solid $gray50;
    vertical-align: top;
    @include responsive(harding) {
      margin-right: 1%;
      width: calc(49.5% - 2px);
      &:nth-of-type(even) {
        margin-right: 0;
      }
      &:nth-of-type(9),  //c022
      &:nth-of-type(10) {
        border-bottom: none;
      }
    }
    @include responsive(kennedy) {
      margin-right: 1.5%;
      width: calc(32%  - 2px);
      &:nth-of-type(even) {
        margin-right: 1.5%;
      }
      &:nth-of-type(3n) {
        margin-right: 0;
        width: 33%;
      }
      &:nth-of-type(8) {  //c022
        border-bottom: none;
      }
    }
    @include responsive(nixon) {
      margin: 0;
      width: 100%;
      &:nth-of-type(even),
      &:nth-of-type(odd) {
        border-bottom: 1px solid $gray50;
        margin: 0;
        width: 100%;
      }
    }
  }
}

span {
  .blatest & {
    text-transform: uppercase;
  }
}

.blatest {
  background: white;
  border: 1px solid $gray50;
  padding-bottom: 50px;
  @include responsive(harding) {
    background: none;
    border: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  @include responsive(nixon) {
    background: white;
  }
}
