.navs {
  float: none;  //c020
  margin: 12px auto 0;
  padding: 6px 0;
  position: relative;
  width: 90%;
  &:after,
  &:before {
    border: 1px solid #eee;
    content: '';
    left: -50%;
    position: absolute;
    width: 200%;
  }
  &:after {
    bottom: 0;
  }
  &:before {
    top: 0;
  }
}

li {
  .navs & {
    display: inline-block;
    margin: 6px 10px;
    position: relative;
    text-transform: uppercase;
    &:before {
      background: #002771;
      border: 1px solid transparent;
      border-radius: 4px;
      content: '';
      height: 4px;
      left: -8px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
    }
    &:nth-of-type(2):before {
      background: #ff6a35;
    }
    &:nth-of-type(3):before {
      background: #ea2f27;
    }
    &:nth-of-type(4):before {
      background: #5fba37;
    }
    &:nth-of-type(5):before {
      background: #b71ab0;
    }
    &:nth-of-type(6):before {
      background: #9e1d37;
    }
    &:nth-of-type(7):before {
      background: #1c70d0;
    }
    &:nth-of-type(8):before,
    &:nth-of-type(9):before  {
      background: none;
    }
    &:nth-of-type(8),
    &:nth-of-type(9)  {
      background: #ea2f27;
      color: white;
      margin-left: 4px;
      padding: 2px 8px;
    }
  }
}

div {
  .modifym & {
    margin-top: 6px;
  }
}

.modifyb {
  background: #ecedee;
  padding-top: 12px;
}
