//----------------------------------------------------------------------------
//  Animations
//----------------------------------------------------------------------------
$animate: 0.2s;


//----------------------------------------------------------------------------
//  Colors
//----------------------------------------------------------------------------
$black80: #4a4a4a;


//----------------------------------------------------------------------------
//  Fonts  //c013
//----------------------------------------------------------------------------
$font1: 'Arial', sans-serif;
$smallest: 0.714rem;
$smaller: 0.786rem;
$small: 0.875rem;
$base: 14px;
$big: 1.143rem;
$bigger: 1.286rem;
$biggest: 1.429rem;


//----------------------------------------------------------------------------
//  Responsive Breakpoints  //c014
//----------------------------------------------------------------------------
$troosevelt: 320px;
$taft: 375px;
$wilson: 414px;
$harding: 480px;
$coolidge: 550px;
$hoover: 620px;
$froosevelt: 680px;
$truman: 768px;  //c015
$eisenhower: 800px;
$kennedy: 850px;
$johnson: 900px;
$nixon: 992px;  //c015
$ford: 1024px;
$carter: 1100px;
$reagan: 1200px;  //c015
$hbush: 1300px;
$clinton: 1400px;
$wbush: 1500px;
$obama: 1600px;
