.advertsquare,
.advertwide {
  background: lavender;
  padding: 30px;
  position: relative;
  text-align: center;
  &:before {
    color: #777;
    content: 'Wide Banner Ad';
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.advertsquare {
  height: 170px;
  &:before {
    content: 'Square Banner Ad';
  }
}

.modifyp {  //c020
  padding-left: 0;
}

.modifya {  //c020
  text-align: center;
}
