.bannerwide {
  background: #ccc;
  padding: 26px;
  position: relative;
  &:before {
    color: #777;
    content: 'Wide Banner Ad';
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
