.advert {
  background: lavender;
  padding: 40px;
  position: relative;
  text-align: center;
  &:before {
    color: #777;
    content: 'Wide Banner Ad';
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &.narrow {
    background: cornsilk;
    display: none;
    @include responsive(truman) {
      display: block;
    }
    &:before {
      content: 'Narrow Banner Ad';
    }
  }
  &.square {
    display: none;
    height: 210px;
    @include responsive(truman) {
      display: block;
    }
    &:before {
      content: 'Square Banner Ad';
    }
  }
}

.modifyp1 {  //c020
  padding: 0 15px;
}

.modifyp3 {  //c020
  padding-left: 0;
  padding-right: 0;
}

.modifyp4 {  //c020
  padding-right: 0;
}

.modifya1 {  //c020
  text-align: center;
}

.modifya2 {  //c020
  text-align: right;
}

.modifym2 {  //c020
  margin-left: -30px;
  margin-right: -30px;
}
